<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'category';
_%>
<%- include('../includes/_header') %>
    
<div class="breadcrumb">
    <a href="">トップ</a> &gt; <a href="">すべてのカテゴリー</a> &gt; <a href="">エアコン・空気清浄機・除湿機・加湿器</a> &gt; <a href="">エアコン</a> &gt; 冷暖房おもに6畳(2.2kw)
</div>

<section class="includearea">
    <div class="inner inner-large">
        <div style="border: 1px solid #ccc; padding-bottom:16%; text-align:center; position:relative;">
            <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
        </div>
    </div>
</section>
    
<main id="main-content" class="main-content">
    
    <div class="container">
        <%- include('../includes/_sidebar'); %>
        
        <div class="container-right">
        
        <%- include('../includes/_feature', { title: 'エアコン' }); %>
        
        <section>
            <div class="inner inner-large">
                <h2 class="section-heading"><span class="is-pc">カテゴリー一覧</span><span class="is-sp">エアコン・空気清浄機・除湿機・加湿器</span></h2>
                
                <div class="basicgrid basicgrid-four cotegorylist">
                    <div class="item">
                        <div class="cotegorylist-inner">
                            <div class="cotegorylist-btn js-accordion-btn">
                                <img class="cotegorylist-img" src="./assets/img/category/catecory-list-img11.jpg" alt="">
                                <h3 class="cotegorylist-heading">エアコン</h3>
                            </div>
                            <ul class="cotegorylist-ul">
                                <li><a href="">冷暖房おもに6畳（2.2kw）</a></li>
                                <li><a href="">冷暖房おもに8畳（2.5kw）</a></li>
                                <li><a href="">冷暖房おもに10畳（2.8kw）</a></li>
                                <li><a href="">冷暖房おもに12畳（3.6kw）</a></li>
                                <li><a href="">冷暖房おもに14畳（4.0kw）</a></li>
                                <li><a href="">冷暖房おもに18畳（5.6kw）</a></li>
                                <li><a href="">冷暖房おもに20畳（6.3kw）</a></li>
                                <li><a href="">冷暖房おもに23畳（7.1kw）</a></li>
                                <li><a href="">冷暖房おもに26畳（8.0kw）</a></li>
                                <li><a href="">冷暖房おもに29畳（9.0kw）</a></li>
                                <li><a href="">冷房専用</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cotegorylist-inner">
                            <div class="cotegorylist-btn js-accordion-btn">
                                <img class="cotegorylist-img" src="./assets/img/category/catecory-list-img12.jpg" alt="">
                                <h3 class="cotegorylist-heading">空気清浄機</h3>
                            </div>
                            <ul class="cotegorylist-ul">
                                <li><a href="">除加湿空気清浄機</a></li>
                                <li><a href="">加湿空気清浄機</a></li>
                                <li><a href="">空気清浄機</a></li>
                                <li><a href="">空間洗浄機</a></li>
                                <li><a href="">イオン発生器</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cotegorylist-inner">
                            <div class="cotegorylist-btn js-accordion-btn">
                                <img class="cotegorylist-img" src="./assets/img/category/catecory-list-img13.jpg" alt="">
                                <h3 class="cotegorylist-heading">加湿器</h3>
                            </div>
                            <ul class="cotegorylist-ul">
                                <li><a href="">加湿器　900ml以上</a></li>
                                <li><a href="">加湿器　700mlタイプ</a></li>
                                <li><a href="">加湿器　500mlタイプ</a></li>
                                <li><a href="">加湿器　300mlタイプ</a></li>
                                <li><a href="">加湿器　300ml未満</a></li>
                                <li><a href="">USB卓上タイプ</a></li>
                                <li><a href="">加湿器　加湿器小物</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cotegorylist-inner">
                            <div class="cotegorylist-btn js-accordion-btn">
                                <img class="cotegorylist-img" src="./assets/img/category/catecory-list-img14.jpg" alt="">
                                <h3 class="cotegorylist-heading">除湿機・ファンクーラー</h3>
                            </div>
                            <ul class="cotegorylist-ul">
                                <li><a href="">除湿機　14L以上</a></li>
                                <li><a href="">除湿機　10L以上</a></li>
                                <li><a href="">除湿機　5L以上</a></li>
                                <li><a href="">除湿機　5L未満</a></li>
                                <li><a href="">除湿関連品</a></li>
                                <li><a href="">ファンクーラー(冷暖房)</a></li>
                                <li><a href="">ファンクーラー(冷房専用)</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cotegorylist-inner">
                            <div class="cotegorylist-btn js-accordion-btn">
                                <img class="cotegorylist-img" src="./assets/img/category/catecory-list-img15.jpg" alt="">
                                <h3 class="cotegorylist-heading">窓用エアコン</h3>
                            </div>
                            <ul class="cotegorylist-ul">
                                <li><a href="">窓用エアコン(冷暖房)</a></li>
                                <li><a href="">窓用エアコン(冷房)</a></li>
                                <li><a href="">業務用エアコン</a></li>
                                <li><a href="">エアコン関連品</a></li>
                                <li><a href="">エアコンフィルター</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cotegorylist-inner">
                            <div class="cotegorylist-btn js-accordion-btn">
                                <img class="cotegorylist-img" src="./assets/img/category/catecory-list-img16.jpg" alt="">
                                <h3 class="cotegorylist-heading">空気清浄機フィルター&加湿器フィルター</h3>
                            </div>
                            <ul class="cotegorylist-ul">
                                <li><a href="">空気清浄機フィルター</a></li>
                                <li><a href="">加湿器フィルター</a></li>
                                <li><a href="">空調機器</a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        
    
        <%- include('../includes/_ranking', { title: 'エディオンおすすめ商品', columum: 'two' }); %>
    
        <%- include('../includes/_history', { maxitem: 'six' }); %>
    
    </div>
    </div>
    
</main>


<%- include('../includes/_footer'); %>
