<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = true; // 下層ページは全てfalseにする
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'detail';
_%>
<%- include('../includes/_header') %>
<div class="breadcrumb">
    <a href="">トップ</a> &gt; <a href="">カテゴリー名</a> &gt; <a href="">カテゴリー名</a> &gt; <a href="">カテゴリー名</a> &gt; <a href="">カテゴリー名</a> &gt; カテゴリー名
</div>
<section class="includearea">
    <div class="inner inner-large">
        <div style="border: 1px solid #ccc; padding-bottom:10%; text-align:center; position:relative;">
            <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
        </div>
    </div>
</section>

<section class="includearea">
    <div class="inner inner-large">
        <div style="border: 1px solid #ccc; padding-bottom:10%; text-align:center; position:relative;">
            <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
        </div>
    </div>
</section>
<main id="main-content" class="main-content">
    <div class="container">

        <div class="productdetail">
            <p class="productdetail-subtxt is-sp">解凍洗浄と暖房乾燥内部クリーンのダブルクリーンシステムで清潔安心。</p>
            <p class="productdetail-name is-sp">ハイセンス 「標準工事込み」 6畳向け 冷暖房インバーターエアコン KuaL Sシリーズ ホワイト HAS22DE9WS</p>
            <div class="productdetail-item">
                <div class="productdetail-item-img">
                    <div class="productdetail-result-tag05 grid is-sp">只今、高額ポイント進呈中！</div>
                    <div class="productdetail-result-head">
                        <div class="productdetail-result-label">
                            <img class="" src="./assets/img/common/category-label01.png" alt="NEW">
                            <img class="" src="./assets/img/common/category-label02.png" alt="予約商品">
                        </div>
                    </div>
                    
                    <a class="example-image-link itemcard-img" href="./assets/img/detail/detail-item.jpg" data-lightbox="example-set"><img class="example-image" src="./assets/img/detail/detail-item.jpg" alt="" /></a>
                    
                    <div class="productdetail-result-tag05 grid is-pc">只今、高額ポイント進呈中！</div>
                    
                </div>
                
                <div class="productdetail-result-icons icon4">
                    <div class="productdetail-result-icons-box"><div>icon</div></div>
                    <div class="productdetail-result-icons-box"><div>icon</div></div>
                    <div class="productdetail-result-icons-box"><div>icon</div></div>
                    <div class="productdetail-result-icons-box"><div>icon</div></div>
                </div>

                <div class="gallery-wrap">
                    <p class="gallery-wrap-title">画像をクリックで拡大</p>
                    <div class="gallery-wrap-inner">
                        <% for (var i=0; i < 8; i++){ %> 
                            <a class="example-image-link itemcard-img" href="./assets/img/detail/detail-0<%- i+1 %>.jpg" data-lightbox="example-set"><img class="example-image" src="./assets/img/detail/detail-0<%- i+1 %>.jpg" alt="" /></a>
                        <% } %>
                    </div>
                </div>
                <div class="includearea first">
                    <div class="inner inner-large">
                        <div style="border: 1px solid #ccc; padding-bottom:18%; text-align:center; position:relative;">
                            <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">動画インクルードエリア</div>
                        </div>
                    </div>
                </div>
                <% for (var i=0; i< 5; i++){ %> 
                    <div class="includearea">
                        <div class="inner inner-large">
                            <div style="border: 1px solid #ccc; padding-bottom:18%; text-align:center; position:relative;">
                                <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">動画インクルードエリア</div>
                            </div>
                        </div>
                    </div>
                <% } %> 
            </div>
            <div class="productdetail-info">
                <p class="productdetail-subtxt is-pc">解凍洗浄と暖房乾燥内部クリーンのダブルクリーンシステムで清潔安心。</p>
                <p class="productdetail-name is-pc">ハイセンス 「標準工事込み」 6畳向け 冷暖房インバーターエアコン KuaL Sシリーズ ホワイト HAS22DE9WS</p>
                <p class="other">
                    発売日：2021年06月上旬<br>
                    型番：HA-S22DE9-WS<br>
                    JANコード：2800067034325
                </p>
                <div class="review-container">
                    <div class="review">
                        <p class="review-star star5"></p>
                        <p class="-count">(6)</p>
                    </div>
                    <a class="review-link" href="">商品レビューを書く</a>
                </div>
                <p class="price free">￥12,980(税込)</p>
                <p class="point"><span>P</span>ポイントはご購入本体金額(税別)に応じた付与となります。</p>
                <p class="variation">バリエーション：<span>ホワイト</span></p>
                <div class="is-pc">
                    <div class="var-wrap">
                        <button>
                            <img src="./assets/img/detail/btn_01.jpg" alt="">
                            <p>¥12,980（税込）</p>
                            <p class="tooltiptext">ブラックを選択するにはクリックしてください</p>
                        </button>
                        <button>
                            <img src="./assets/img/detail/btn_02.jpg" alt="">
                            <p>¥6,980（税込）</p>
                            <p class="tooltiptext">ブラックを選択するにはクリックしてください</p>
                        </button>
                        <button>
                            <img src="./assets/img/detail/btn_02.jpg" alt="">
                            <p>¥12,980（税込）</p>
                            <p class="tooltiptext">ブラックを選択するにはクリックしてください</p>
                        </button>
                        <button>
                            <img src="./assets/img/detail/btn_02.jpg" alt="">
                            <p>¥12,980（税込）</p>
                            <p class="tooltiptext">ブラックを選択するにはクリックしてください</p>
                        </button>
                        <div class="accordion-wrap">
                            <div class="accordion-inner">
                                <% for(var i=0; i< 2 ; i++){ %> 
                                    <button>
                                        <img src="./assets/img/detail/btn_02.jpg" alt="">
                                        <p>¥12,980（税込）</p>
                                        <p class="tooltiptext">ブラックを選択するにはクリックしてください</p>
                                    </button>
                                <% } %> 
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="js-accordion-btn-more arrow_down">その他</a>
                    </div>
                </div>
                <div class="is-sp">
                    <div class="var-wrap">
                        <div class="owl-carousel owl-theme fight-list-slider customslider">
                            <button>
                                <img src="./assets/img/detail/btn_01.jpg" alt="">
                                <p>¥12,980（税込）</p>
                                <p class="tooltiptext">ブラックを選択するにはクリックしてください</p>
                            </button>
                            <button>
                                <img src="./assets/img/detail/btn_02.jpg" alt="">
                                <p>¥6,980（税込）</p>
                                <p class="tooltiptext">ブラックを選択するにはクリックしてください</p>
                            </button>
                            <% for(var i=0; i< 4 ; i++){ %> 
                                <button>
                                    <img src="./assets/img/detail/btn_02.jpg" alt="">
                                    <p>¥12,980（税込）</p>
                                    <p class="tooltiptext">ブラックを選択するにはクリックしてください</p>
                                </button>
                            <% } %> 
                        </div>
                    </div>
                </div>
                
                <div class="deliver-inner">
                    <figure>
                        <img src="./assets/img/detail/free.png" alt="">
                    </figure>
                    <p>2,000円（税込）以上ご購入で送料無料(ご好評につき期間延長) <br class="is-pc"><a href="">詳細</a></p>
                </div>
                <div class="deliver-inner">
                    <figure>
                        <img src="./assets/img/detail/security.png" alt="">
                    </figure>
                    <p class="max-content">保証特典：</p>
                    <!-- TODO: [未ログインの場合] -->
                    <!-- <p>エディオンカード、100満ボルトカード長期修理保証5年　あんしん保証3年</p> -->
                    <!-- TODO: [ログイン後の場合] -->
                    <p>あんしん修理保証3年・5年・10年</p>
                </div>
                <div class="deliver-inner">
                    <figure>
                        <img src="./assets/img/detail/voucher.png" alt="">
                    </figure>
                    <p>アプリクーポン利用OK <br class="is-pc"><a href="">詳細</a></p>
                </div>
                
                
                <div class="inner inner-large">
                    <div style="border: 1px solid #ccc; padding-bottom:12%; text-align:center; position:relative; margin-top: 25px;">
                        <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
                    </div>
                </div>
                <div class="about">
                    <div class="about-inner">
                        <figure>
                            <img src="./assets/img/detail/calendar.png" alt="">
                        </figure>
                        <p>お届けについて</p>
                    </div>
                    <p>液体、ガスを含む商品を北海道・沖縄・離島にお届けする場合や、船便を使用する地域へ商品をお届けする場合は、お届けまでに追加日数が掛かる場合がございます。</p>
                    <a href="">詳細はこちら</a>
                </div>
                <div class="inner inner-large mt-pc20 mt-sp25">
                    <div style="border: 1px solid #ccc; padding-bottom:12%; text-align:center; position:relative;">
                        <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
                    </div>
                </div>
                <div class="inner inner-large mt-pc20 mt-sp15">
                    <div style="border: 1px solid #ccc; padding-bottom:12%; text-align:center; position:relative;">
                        <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
                    </div>
                </div>
                <div class="about">
                    <div class="about-inner">
                        <figure>
                            <img src="./assets/img/detail/delivery.png" alt="">
                        </figure>
                        <p>出荷目安について</p>
                    </div>
                    <p>
                        大型商品など設置・工事が伴う場合、またはお届け先住所により、出荷目安より出荷日が遅れる場合がございます。<br>
                        営業日は当日および、土日祝日を除いた平日になります。また、出荷目安の日は「センターから出荷する日」となりますので、お届け先への商品お届け日とは異なります。
                    </p>
                </div>
                <div class="inner inner-large">
                    <div style="border: 1px solid #ccc; padding-bottom:12%; text-align:center; position:relative; margin-top: 20px;">
                        <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
                    </div>
                </div>
                <div class="inner inner-large">
                    <div style="border: 1px solid #ccc; padding-bottom:12%; text-align:center; position:relative; margin-top: 20px;">
                        <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
                    </div>
                </div>
                <div class="inner inner-large">
                    <div style="border: 1px solid #ccc; padding-bottom:12%; text-align:center; position:relative; margin-top: 20px;">
                        <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
                    </div>
                </div>
            </div>
            <div class="productdetail-purchase">
                <div class="deliver-recip">
                    <div class="deliver-recip-title">
                        <figure>
                            <img src="./assets/img/detail/delivery.png" alt="">
                        </figure>
                        <p>配送受取の方</p>
                    </div>
                    <div class="deliver-recip-content">
                        <div class="-inner">
                            <p>在庫状況：</p>
                            <p class="bold">○在庫あり</p>
                        </div>
                        <div class="-inner">
                            <p>出荷目安：</p>
                            <p>翌日出荷<span>（大型品は別途ご案内）</span></p>
                        </div>
                        <div class="-inner">
                            <p>配送方法：</p>
                            <p>宅配便</p>
                        </div>
                        <div class="-inner">
                            <p>返品条件：</p>
                            <p>返品可（一部除く）</p>
                        </div>
                    </div>
                    <div class="deliver-recip-count">
                        <div class="sort-inner">
                            <label>数量：</label>
                            <div class="form-block-select">
                                <select name="" id="">
                                    <% for(var i=1 ; i < 11; i++){ %> 
                                        <option value="<%- i %>"><%- i %> </option>
                                    <% } %> 
                                </select>
                                <!-- TODO: [ダウンロード商品の場合は、数量変更不可] -->
                                <!-- <select name="" id="" disabled>
                                    <% for(var i=1 ; i < 11; i++){ %> 
                                        <option value="<%- i %>"><%- i %> </option>
                                    <% } %> 
                                </select> -->
                            </div>
                        </div>
                    </div>
                    <div class="inner inner-large mt10">
                        <div style="background: white; border: 1px solid black; padding-bottom:20%; text-align:center; position:relative;">
                            <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
                        </div>
                    </div>
                    <div class="inner inner-large mt10">
                        <div style="background: white; border: 1px solid black; padding-bottom:20%; text-align:center; position:relative;">
                            <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
                        </div>
                    </div>
                    <a href="" class="purchase-btn">
                        <img src="./assets/img/common/icon-cart.png" alt="">
                        <p>カートに入れる</p>
                    </a>
                    <div class="inner inner-large mt10">
                        <div style="background: white; border: 1px solid black; padding-bottom:20%; text-align:center; position:relative;">
                            <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
                        </div>
                    </div>
                    <div class="inner inner-large mt10">
                        <div style="background: white; border: 1px solid black; padding-bottom:20%; text-align:center; position:relative;">
                            <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
                        </div>
                    </div>
                    <a href="" class="purchase-btn yellow">
                        <p>今すぐ購入する</p>
                    </a>
                </div>
                <a href="" class="purchase-btn grey">
                    <img src="./assets/img/detail/favorite.png" alt="">
                    <p>お気に入り商品を追加する</p>
                </a>
                <div class="deliver-recip second">
                    <div class="deliver-recip-title">
                        <figure>
                            <img src="./assets/img/detail/store.png" alt="">
                        </figure>
                        <p>店舗受取の方</p>
                    </div>
                    <div class="deliver-recip-content is-sp">
                        <div class="-inner">
                            <p>在庫状況：</p>
                            <p class="bold">○在庫あり</p>
                        </div>
                        <div class="-inner">
                            <p>出荷目安：</p>
                            <p>翌日出荷（大型品は別途ご案内）</p>
                        </div>
                        <div class="-inner">
                            <p>配送方法：</p>
                            <p>宅配便</p>
                        </div>
                        <div class="-inner">
                            <p>返品条件：</p>
                            <p>返品可（一部除く）</p>
                        </div>
                    </div>
                    <div class="inner inner-large">
                        <div style="background: white; border: 1px solid black; padding-bottom:20%; text-align:center; position:relative; margin-top: 20px;">
                            <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
                        </div>
                    </div>
                    <a href="" class="purchase-btn blue">
                        <p>在庫のある店舗（6）</p>
                    </a>
                </div>
                <div class="caution-wrap is-sp">
                    <div class="caution-wrap-title js-accordion-btn">
                        <figure>
                            <img src="./assets/img/detail/caution-sign.png" alt="">
                        </figure>
                        <p>購入に関する注意事項</p>
                    </div>
                    <div style="display: none; width: 100%;">
                        <ul class="caution-wrap-link">
                            <li><a href="">配送方法</a></li>
                            <li><a href="">商品の返品</a></li>
                            <li><a href="">設置 / リサイクル</a></li>
                            <li><a href="">保証について</a></li>
                            <li><a href="">在庫 / 出荷目安</a></li>
                            <li><a href="">ポイントについ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="share-wrap">
                    <p>シェアする</p>
                    <a href="">
                        <img src="./assets/img/detail/facebook_c.png" alt="">
                    </a>
                    <a href="">
                        <img src="./assets/img/detail/twitter_c.png" alt="">
                    </a>
                    <a href="">
                        <img src="./assets/img/detail/line_c.png" alt="">
                    </a>
                </div>
                <div class="caution-wrap is-pc">
                    <div class="caution-wrap-title">
                        <figure>
                            <img src="./assets/img/detail/caution-sign.png" alt="">
                        </figure>
                        <p>購入に関する注意事項</p>
                    </div>
                    <ul class="caution-wrap-link">
                        <li><a href="">配送方法</a></li>
                        <li><a href="">商品の返品</a></li>
                        <li><a href="">設置 / リサイクル</a></li>
                        <li><a href="">保証について</a></li>
                        <li><a href="">在庫 / 出荷目安</a></li>
                        <li><a href="">ポイントについ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="includearea mb0 pb0 mt-pc60 mt-sp35">
        <div class="inner inner-large">
            <div class="pb-pc70 pb-sp50"  style="border: 1px solid #ccc; text-align:center; position:relative;">
                <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
            </div>
        </div>
    </section>
    <div class="container">
        <section class="tabs-wrapper">
            <div class="tabs">
                <div class="tab"><p>商品情報</p></div>
                <div class="tab"><p>スペック</p></div>
                <div class="tab"><p>レビュー</p></div>
                <a href="" class="tab add-cat">
                    <img src="./assets/img/common/icon-cart.png" alt="">
                    <p>カートに入れる</p>
                </a>
            </div>
            <div class="tabs-content">
                <div class="tab-item product-info pt-sp25">
                    <p class="product-info-title">商品情報</p>
                    <section class="includearea pb0 mb-pc45 mb-sp20">
                        <div class="inner inner-large pl0 pr0">
                            <div class="pb-pc70 pb-sp50" style="border: 1px solid #ccc; text-align:center; position:relative;">
                                <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
                            </div>
                        </div>
                    </section>
                    
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                    <a class="detail-link" href="">メーカー商品詳細ページはこちら</a>
                    <section class="includearea mb0 pb0 mt-pc40 mt-sp25">
                        <div class="inner inner-large pl0 pr0">
                            <div  class="pb-pc70 pb-sp50" style="border: 1px solid #ccc;text-align:center; position:relative;">
                                <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="tab-item spec pt-sp35">
                    <p class="spec-title">スペック</p>
                    <section class="includearea pb0 mb-pc45 mb-sp25" style="width: 100%;">
                        <div class="inner inner-large pl0 pr0">
                            <div class="pb-pc70 pb-sp50" style="border: 1px solid #ccc; text-align:center; position:relative;">
                                <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
                            </div>
                        </div>
                    </section>
                    <ul>
                        <li>電源:AC100V 50/60Hz</li>
                        <li>ヒーターの種類:カーボン</li>
                        <li>消費電力:400W</li>
                        <li>ワット切り替え:400W/200W(2段階)</li>
                    </ul>
                    <ul>
                        <li>1時間あたりの電気代目安:約10.8円/5.4円</li>
                        <li>自動首振り:×</li>
                        <li>転倒OFFスイッチ:○</li>
                        <li>寸法:W18.0×H52.9×D18.0cm(突起部含む)</li>
                    </ul>
                    <ul>
                        <li>質量:約1.3kg</li>
                        <li>電源コード長さ:1.5m</li>
                    </ul>
                </div>
                <div class="tab-item review pt-sp55">
                    <p class="review-title">レビュー</p>
                    <section class="includearea pb0 mb-pc45 mb-sp30" style="width: 100%;">
                        <div class="inner inner-large pl0 pr0">
                            <div class="pb-pc70 pb-sp50" style="border: 1px solid #ccc; text-align:center; position:relative;">
                                <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
                            </div>
                        </div>
                    </section>
                    <div class="comp-ev">
                        <div class="comp-ev-first">
                            <p class="title">この商品の総合評価</p>
                            <p class="num is-pc">5</p>
                            <p class="review-star star4"></p>
                            <p class="num is-sp">5</p>
                        </div>
                        <div class="comp-ev-second" id="dashboard-stats">
                            <div class="row">
                                <span class="review-star star5"></span>
                                <div class="bar-wrap">
                                    <div class="bar" data-value="32"></div>
                                </div>
                                <p class="number">6人</p>
                            </div>
                            <div class="row">
                                <span class="review-star star4"></span>
                                <div class="bar-wrap">
                                    <div class="bar" data-value="60"></div>
                                </div>
                                <p class="number">10人</p>
                            </div>
                            <div class="row">
                                <span class="review-star star3"></span>
                                <div class="bar-wrap">
                                    <div class="bar" data-value="12"></div>
                                </div>
                                <p class="number">4人</p>
                            </div>
                            <div class="row">
                                <span class="review-star star2"></span>
                                <div class="bar-wrap">
                                    <div class="bar" data-value="8"></div>
                                </div>
                                <p class="number">5人</p>
                            </div>
                            <div class="row">
                                <span class="review-star star1"></span>
                                <div class="bar-wrap">
                                    <div class="bar" data-value="19"></div>
                                </div>
                                <p class="number">1人</p>
                            </div>
                        </div>
                        <!-- TODO: [ログイン済み&商品を購入済みの場合に表示] -->
                        <div class="comp-ev-third">
                            <a class="review-btn" href="">商品レビューを書く</a>
                        </div>
                    </div>
                    <div class="review-detail">
                        <div class="sort-inner">
                            <label>並べ替え</label>
                            <div class="form-block-select">
                                <select name="" id="">
                                    <option value="">投稿日時の新しい順</option>
                                    <option value="">投稿日時の新しい順</option>
                                    <option value="">投稿日時の新しい順</option>
                                </select>
                            </div>
                        </div>
                        <div class="review-detail-wrap">
                            <%  for (var i = 0; i < 4; i++){ %>
                                <%- include('../components/_c-post-review-item'); %>
                            <%  } %>
                        </div>
                    </div>
                    <a class="all-review" href="">すべての商品レビューを見る</a>
                </div>
            </div>
        </section>
    </div>
    <%- include('../includes/_purchase_with'); %>
    <%- include('../includes/_relation', { title: '関連／消耗品' }); %>
    <%- include('../includes/_relation', { title: 'こちらの商品もいかがでしょうか' }); %>
    <%- include('../includes/_relation', { title: 'この商品を見た人は、<br class="is-sp">こんな商品もチェックしています。' }); %>
    <section class="border-sp-none" style="overflow:hidden">
        <div class="inner inner-large">
            <h2 class="section-heading">最近見た商品</h2>
            <div class="owl-carousel owl-theme sliderhistory-eight customslider">
                <% for (var i=0; i < 8; i++){ %> 
                    <div class="item">
                        <div class="itemcard-virtical">
                            <a href="" class="itemcard-virtical-img"><img src="./assets/img/detail/detail-0<%- i+1 %>.jpg" alt=""></a>
                            <h3 class="itemcard-virtical-heading"><a href="">パナソニック セラミックファンヒーター オリジナル グレー DSFTS12E1H</a></h3>
                            <div class="itemcard-virtical-price">￥12,980(税込)</div>
                            <div class="itemcard-virtical-review">
                                <p class="review-star star5"></p>
                                <p class="-count">(6)</p>
                            </div>
                        </div>
                    </div>
                <% } %> 
            </div>
        </div>
    </section>
    <div class="container">
        <section class="includearea pb0 mb0 mt-pc25 mt-sp20" style="width: 100%;">
            <div class="inner inner-large pl0 pr0">
                <div class="pb-pc70 pb-sp50" style="border: 1px solid #ccc; text-align:center; position:relative;">
                    <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
                </div>
            </div>
        </section>
    </div>
    <div class="container">
        <section class="includearea pb0 mb0 mt-pc25 mt-sp10" style="width: 100%;">
            <div class="inner inner-large pl0 pr0">
                <div class="pb-pc70 pb-sp50" style="border: 1px solid #ccc; text-align:center; position:relative;">
                    <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
                </div>
            </div>
        </section>
    </div>
    <div class="is-sp">
        <div class="detail-footer">
            <div class="-specs">
                <p class="price">￥12,980(税込)</p>
                <p class="stock">在庫あり</p>
                <p class="card">エディオンカード会員100満ボルトカード会員1％</p>
            </div>
            <div class="-purchase">
                <a href="" class="purchase-btn">
                    <img src="./assets/img/common/icon-cart.png" alt="">
                    <p>カートに入れる</p>
                </a>
            </div>
        </div>
    </div>
</main>
<%- include('../includes/_footer'); %>