<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'fc-product-detail';
_%>
<%- include('../includes/_header-fc-login') %>

<main id="main-content" class="main-content">
	
    <section class="includearea pt-sp10 mb-sp20 pb-sp0">
        <div class="inner inner-large">
            <div style="border: 1px solid #ccc; padding-bottom:10%; text-align:center; position:relative;">
                <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
            </div>
        </div>
    </section>
    <div class="breadcrumb mb-sp20">
        <a href="">トップ</a> &gt; <a href="">カテゴリー名</a> &gt; <a href="">カテゴリー名</a> &gt; <a href="">カテゴリー名</a> &gt; <a href="">カテゴリー名</a> &gt; カテゴリー名
    </div>
    <section class="includearea mb-sp20 pb-sp0">
        <div class="inner inner-large">
            <div style="border: 1px solid #ccc; padding-bottom:10%; text-align:center; position:relative;">
                <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
            </div>
        </div>
    </section>
    <div class="container">
    
        <div class="productdetail">
            <p class="productdetail-subtxt is-sp">解凍洗浄と暖房乾燥内部クリーンのダブルクリーンシステムで清潔安心。</p>
            <p class="productdetail-name is-sp">ハイセンス 「標準工事込み」 6畳向け 冷暖房インバーターエアコン KuaL Sシリーズ ホワイト HAS22DE9WS</p>
            <div class="productdetail-item">
                <div class="productdetail-item-img">
                    <div class="productdetail-result-head">
                        <div class="productdetail-result-label">
                            <img class="" src="./assets/img/common/category-label01.png" alt="NEW">
                            <img class="" src="./assets/img/common/category-label02.png" alt="予約商品">
                        </div>
                    </div>
                    
                    <a class="example-image-link itemcard-img" href="./assets/img/detail/product.jpg" data-lightbox="example-set"><img class="example-image" src="./assets/img/detail/product.jpg" alt="" /></a>
                    
                    
                    
                </div>

                <div class="gallery-wrap">
                    <p class="gallery-wrap-title">画像をクリックで拡大</p>
                    <div class="gallery-wrap-inner">
                        <% for (var i=0; i < 8; i++){ %> 
                            <a class="example-image-link itemcard-img" href="./assets/img/detail/detail-0<%- i+1 %>.jpg" data-lightbox="example-set"><img class="example-image" src="./assets/img/detail/detail-0<%- i+1 %>.jpg" alt="" /></a>
                        <% } %>
                    </div>
                </div>
                <div class="includearea mt-pc40 mt-sp30">
                    <div class="inner inner-large">
                        <div style="border: 1px solid #707070; padding-bottom:18%; text-align:center; position:relative;">
                            <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">動画インクルードエリア</div>
                        </div>
                    </div>
                </div>
                <% for (var i=0; i< 3; i++){ %> 
                    <div class="includearea mt-pc25 mt-sp10">
                        <div class="inner inner-large">
                            <div style="border: 1px solid #707070; padding-bottom:18%; text-align:center; position:relative;">
                                <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">動画インクルードエリア</div>
                            </div>
                        </div>
                    </div>
                <% } %> 
            </div>
            <div class="productdetail-info">
                <p class="productdetail-subtxt is-pc">解凍洗浄と暖房乾燥内部クリーンのダブルクリーンシステムで清潔安心。</p>
                <p class="productdetail-name is-pc">ハイセンス 「標準工事込み」 6畳向け 冷暖房インバーターエアコン KuaL Sシリーズ ホワイト HAS22DE9WS</p>
                <p class="other">
                    発売日：2021年06月上旬<br>
                    型番：HA-S22DE9-WS<br>
                    JANコード：2800067034325<br>
                    商品ランク：S（推奨商品）<br>
                    物流区分：５（配達日）
                </p>
                <div class="review-container">
                    <div class="review">
                        <p class="review-star star5"></p>
                        <p class="-count">(5)</p>
                    </div>
                </div>
                <p class="price">￥12,980(税込)</p>
                <p class="variation">バリエーション：<span>ホワイト</span></p>
                <div class="var-wrap">
                    <button>
                        <img src="./assets/img/detail/btn_01.jpg" alt="">
                        <p>¥12,980（税込）</p>
                        <p class="tooltiptext">ブラックを選択するにはクリックしてください</p>
                    </button>
                    <button>
                        <img src="./assets/img/detail/btn_02.jpg" alt="">
                        <p>¥6,980（税込）</p>
                        <p class="tooltiptext">ブラックを選択するにはクリックしてください</p>
                    </button>
                    <button>
                        <img src="./assets/img/detail/btn_02.jpg" alt="">
                        <p>¥12,980（税込）</p>
                        <p class="tooltiptext">ブラックを選択するにはクリックしてください</p>
                    </button>
                </div>
                <div class="deliver-inner mt40">
                    <figure>
                        <img src="./assets/img/detail/free.png" alt="">
                    </figure>
                    <p>2,000円（税込）以上ご購入で送料無料(ご好評につき期間延長) <a href="" class="ml15">詳細</a></p>
                </div>
                <div class="deliver-inner mt-pc35 mt-sp25">
                    <figure>
                        <img src="./assets/img/detail/voucher.png" alt="">
                    </figure>
                    <p>アプリクーポン利用OK <a href="" class="ml15">詳細</a></p>
                </div>
                <div class="deliver-inner mt-pc35 mt-sp25">
                    <figure>
                        <img src="./assets/img/detail/security.png" alt="">
                    </figure>
                    <p class="max-content">保証特典：</p>
                    <p>当社クレジットカード長期修理保証5年</p>
                </div>
                <div class="deliver-inner mt-pc35 mt-sp25">
                    <figure>
                        <img src="./assets/img/detail/money.png" alt="">
                    </figure>
                    <p class="max-content">当社クレジットカード会員：</p>
                    <p>6,930ポイント<br class="is-sp">（10％還元）<br class="is-sp">（￥6,930相当）</p>
                </div>
                <div class="inner inner-large mt-pc40 mt-sp30">
                    <div class="pb40" style="border: 1px solid #707070; text-align:center; position:relative;max-width: 490px;">
                        <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
                    </div>
                </div>
                <% for(var i=0; i< 3; i++){ %> 
                    <div class="inner inner-large mt-pc30 mt-sp25">
                        <div class="pb40" style="border: 1px solid #707070; text-align:center; position:relative;max-width: 490px;">
                            <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto; width:100%;height: 1em;">インクルードエリア</div>
                        </div>
                    </div>
                <% } %> 
            </div>
        </div>
    </div>
    <div class="container">
        <section class="tabs-wrapper pb-pc80">
            <div class="tabs">
                <div class="tab"><p>商品情報</p></div>
                <div class="tab"><p>スペック</p></div>
                <div class="tab"><p>レビュー</p></div>
            </div>
            <div class="tabs-content">
                <div class="tab-item product-info">
                    <p class="product-info-title">商品情報</p>
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                    <a class="detail-link" href="">メーカー商品詳細ページはこちら</a>
                </div>
                <div class="tab-item spec">
                    <p class="spec-title">スペック</p>
                    <ul>
                        <li>電源:AC100V 50/60Hz</li>
                        <li>ヒーターの種類:カーボン</li>
                        <li>消費電力:400W</li>
                        <li>ワット切り替え:400W/200W(2段階)</li>
                    </ul>
                    <ul>
                        <li>1時間あたりの電気代目安:約10.8円/5.4円</li>
                        <li>自動首振り:×</li>
                        <li>転倒OFFスイッチ:○</li>
                        <li>寸法:W18.0×H52.9×D18.0cm(突起部含む)</li>
                    </ul>
                    <ul>
                        <li>質量:約1.3kg</li>
                        <li>電源コード長さ:1.5m</li>
                    </ul>
                </div>
                <div class="tab-item review">
                    <p class="review-title">レビュー</p>
                    <div class="comp-ev">
                        <div class="comp-ev-first">
                            <p class="title">この商品の総合評価</p>
                            <p class="num is-pc">5</p>
                            <p class="review-star star4"></p>
                            <p class="num is-sp">5</p>
                        </div>
                        <div class="comp-ev-second" id="dashboard-stats">
                            <div class="row">
                                <span class="review-star star5"></span>
                                <div class="bar-wrap">
                                    <div class="bar" data-value="32"></div>
                                </div>
                                <p class="number">6人</p>
                            </div>
                            <div class="row">
                                <span class="review-star star4"></span>
                                <div class="bar-wrap">
                                    <div class="bar" data-value="60"></div>
                                </div>
                                <p class="number">10人</p>
                            </div>
                            <div class="row">
                                <span class="review-star star3"></span>
                                <div class="bar-wrap">
                                    <div class="bar" data-value="12"></div>
                                </div>
                                <p class="number">4人</p>
                            </div>
                            <div class="row">
                                <span class="review-star star2"></span>
                                <div class="bar-wrap">
                                    <div class="bar" data-value="8"></div>
                                </div>
                                <p class="number">5人</p>
                            </div>
                            <div class="row">
                                <span class="review-star star1"></span>
                                <div class="bar-wrap">
                                    <div class="bar" data-value="19"></div>
                                </div>
                                <p class="number">1人</p>
                            </div>
                        </div>
                    </div>
                    <div class="review-detail">
                        <div class="sort-inner">
                            <label>並べ替え</label>
                            <div class="form-block-select">
                                <select name="" id="">
                                    <option value="">投稿日時の新しい順</option>
                                    <option value="">投稿日時の新しい順</option>
                                    <option value="">投稿日時の新しい順</option>
                                </select>
                            </div>
                        </div>
                        <div class="review-detail-wrap">
                            <%  for (var i = 0; i < 4; i++){ %>
                                
                                <div class="postreviewitem">
                                    <div class="postreviewitem-left">
                                        <ul>
                                            <li class="postreviewitem-star"><span class="review-star star5"></span>5</li>
                                            <li class="postreviewitem-poster">投稿者：あおいさん</li>
                                            <li class="postreviewitem-postdate">投稿日時：2020/12/17 15:25</li>
                                        </ul>
                                    </div>
                                    <div class="postreviewitem-center">
                                        <ul>
                                            <li class="postreviewitem-cmtttl">商品について</li>
                                            <li class="postreviewitem-cmtdesc">
                                                洗面所、キッチン用にと購入しました。<br>
                                                速暖です！200wと400wの切り替えがしたくてこちらにしました。<br>
                                                コンパクトサイズなので、置き場所を選びません。<br>
                                                色もアラジングリーンが可愛いです。<br>
                                                線が短めなのでコンセントが近くにない場合は困ります。それ以外は満足です。
                                             </li>
                                        </ul>
                                    </div>
                                    <div class="postreviewitem-right">
                                        <ul class="postreviewitem-helpfullist">
                                            <li class="postreviewitem-helpfulbtn">
                                                <a class="postreviewitem-helpfullink" href="###">参考になった</a>
                                            </li>
                                            <li class="postreviewitem-helpfulnum">参考になった人：858人</li>
                                        </ul>
                                    </div>
                                </div>
                
                            <%  } %>
                        </div>
                    </div>
                    <a class="all-review" href="">すべての商品レビューを見る</a>
                </div>
            </div>
        </section>
    </div>
    <%- include('../includes/_history', { title: '関連／消耗品' , maxitem : 'eight', page: 'fc'}); %>
    <%- include('../includes/_history', { title: '最近見た商品' , maxitem : 'eight', page: 'fc'}); %>
    <%- include('../includes/_history', { title: 'この商品を見た人は、こんな商品もチェックしています。' , maxitem : 'eight', page: 'fc'}); %>
</main>


<%- include('../includes/_footer-fc'); %>
