<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'post-code';
_%>
<%- include('../includes/_header') %>
<main id="main-content" class="main-content">
    
    <a href="javascript:void(0);" class="js-modal btn black-btn large-btn" modal-id="post-code-modal">Open Modal</a>

    <div id="post-code-modal" class="modal-block post-code-modal">
        <div class="modal-block-inner">
            <span class="close-btn js-close"></span>
            <div class="modal-block-inner-head">
                <h5 class="modal-block-inner-head-heading">郵便番号検索</h5>
                <div class="modal-block-inner-head-subtext js-postcode-subtext">郵便番号で住所を検索できます。</div>
                
                <div class="form-block general modal-block-inner-head-radio js-postcode-searchtype">
                    <div class="modal-block-inner-head-radio-block">
                        <input type="radio" name="search_type" id="search_type01" checked="">
                        <label for="search_type01">郵便番号</label>
                        <input type="radio" name="search_type" id="search_type02">
                        <label for="search_type02">市区町村</label>
                    </div>
                    <div class="modal-block-inner-head-radio-block">
                        <input type="radio" name="search_type" id="search_type03">
                        <label for="search_type03">会員登録住所</label>
                        <input type="radio" name="search_type" id="search_type04">
                        <label for="search_type04">お届け先に登録した住所</label>
                    </div>
                </div>
                

            </div>
            <div class="modal-block-inner-content">
                
                <div class="form-block general modal-block-inner-content-zip js-form-block js-form-block01">
                    <div class="form-block-zip">
                        <div class="primary"><input type="number" name="" placeholder="000"></div>
                        <span class="zip-line"></span>
                        <div class=""><input type="number" name="" placeholder="0000"></div>
                        <button class="btn blue-btn account-btn medium inline search-btn">再検索</button>
                    </div>
                </div>
                
                <div class="form-block general modal-block-inner-content-city js-form-block js-form-block02">
                    <div>
                        <input type="text" name="" placeholder="新橋（東京都港区新橋の場合）">
                        <button class="btn blue-btn account-btn medium inline search-btn">再検索</button>
                    </div>
                </div>
                <div class="form-block general modal-block-inner-content-address1 js-form-block js-form-block03">
                    <div class="message">
                        会員登録されている住所を入力します。
                    </div>
                </div>
                <div class="form-block general modal-block-inner-content-address2 js-form-block js-form-block04">
                    
                </div>

                <div class="modal-block-inner-content-result js-form-result">
                    <div class="form-block general">
                        <% for (var i = 1; i < 13; i++){ %>
                        <input type="radio" name="result" id="result0<%- i %>">
                        <label for="result0<%- i %>"><div class="zip">〒142-0063</div><div class="address">東京都 品川区 荏原 <%- i %>丁目</div></label>
                        <% } %>
                    </div>
                </div>
                
                

            </div>
            <div class="modal-block-inner-foot">
                <div class="modal-block-inner-foot-btns">
                    <a href="" class="btn red-btn2 account-btn">選択する</a>
                    <a href="" class="btn lined-blue account-btn medium2">キャンセル</a>
                </div>
            </div>
        </div>
    </div>

</main>
<%- include('../includes/_footer'); %>
